<h1>
	<%= @customer.last_name + @customer.first_name %>
	<p>さんの会員情報編集</p>
</h1>

<table class="table">
　　　<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch,local: true do |f| %>
		<tr>
			<th>氏名</th>
			<td><%= f.text_field :last_name %></td>
			<td><%= f.text_field :first_name %></td>
		</tr>
		 
		<tr>
			<th>フリガナ</th>
			<td><%= f.text_field :last_name_kana %></td>
			<td><%= f.text_field :first_name_kana %></td>
		</tr>
		 
		<tr>
			<th>郵便番号</th>
			<td><%= f.text_field :postal_code %></td>
	　　　</tr>
	　　　<tr>
			<th>住所</th>
			<td><%= f.text_field :address %></td>
	　　　</tr>
	　　　<tr>
			<th>電話番号</th>
			<td><%= f.text_field :telephone_number %></td>
	　　　</tr>
	　　　<tr>
			<th>メールアドレス</th>
			<td><%= f.text_field :email %></td>
	　　　</tr>
	     <tr>
	        <label><%= f.radio_button :is_deleted, "true" %> 退会 </label>
			<label><%= f.radio_button :is_deleted, "false" %> 有効</label>
		</tr>
        <%= f.submit '変更を保存する',class: "btn btn-primary" %>
	<% end %>
</table>