<h1>注文詳細</h1>

<label>購入者</label>
<%= @order.name %>
<label>配送先</label>
<%= @order.address %>
<label><支払方法/label>
<%= payment_method %>
<label>注文ステータス</label>
<%= form_with model: @order, url: admin_order_path, method: :patch,local: true do |f| %>
	<%= f.select :status, [["入金待ち", 0],["入金確認", 1],["製作中", 2],["発送準備中", 3],["発送済み", 4]] %>
<% end %>

<table>
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th>制作ステータス</th>
	    </tr>
    </thead>
    <tbody>
    	
       <% @cart_items.each do |cart_item| %>
		 	<tr>
		 		<td>
		 			<%= cart_item.item.name %>
		 		</td>
		 		<td>
		 			<%= cart_item.item.price %>
		 		</td>
		 		<td>
		 			<%= cart_item.amount %>
		 		</td>
		 	    <td>
		 	    	<%= cart_item.amount * cart_item.item.price %>
		 	    </td>
		 	    <td<%= form_with model: @order_detail, url: admin_order_path, method: :patch,local: true do |f| %>
					<%= f.select :making_status, [["着手不可", 0],["制作待ち", 1],["製作中", 2],["制作完了", 3]] %>
					<% end %>
		 	    </td>
		 	    <td>
		 	    	 <% @sum += cart_item.item.price * cart_item.amount %>
		 	    </td>
		 	</tr>
	  <% end %>
    </tbody>
 </table>

 <table>
 	<tr>
 		<th>商品合計</th>
 		<td><%= @sum %>円</td>
 	</tr>
 	<tr>
 		<th>送料</th>
 		<td><%= shopping_cost %></td>
 	</tr>
 	<tr>
 		<th>請求合計</th>
 		<td><%= @sum + shopping_cost %>円</td>
 	</tr>
 </table>