<h1>配送先登録/一覧</h1>
<%= form_with model: @address, url: public_addresses_path, method: :post,local: true do |f| %>
	<p>郵便番号</p>
	<%= f.text_field :postal_code %>
    <p>住所</p>
	<%= f.text_field :address %>
	<p>宛名</p>
	<%= f.text_field :name %>

	<%= f.submit '登録する',class: "btn btn-primary" %>
 <% end %>


<table class="table">
	<thead>
		<tr>
			<th>郵便番号</th>
			<th>住所</th>
			<th>宛名</th>
			<th></th>
			<th></th>
	    </tr>
    </thead>
    <tbody>
       <% @addresses.each do |address| %>
		 	<tr>
		 		<td>
		 			<%= address.postal_code %>
		 		</td>
		 		<td>
		 			<%= address.address %>
		 		</td>
		 		<td>
		 			<%= address.name %>
		 		</td>
		 	    <td>
		 	    	<%= link_to "編集する", edit_public_address_path(address) %>
		 	    	<%= link_to "削除する", public_address_path(address), class: "btn-sm btn-danger destroy_book_36682",method: :delete %>
		 	    </td>
		 	    <td>
		 	</tr>
	  <% end %>
    </tbody>
 </table>
