<h1>商品詳細</h1>
<%= attachment_image_tag item, :profile_image, size:'100x100',format: 'jpeg'>
<p>商品名</p><%= @item.name %>
<p>商品説明</p><%= @item.introduction %>
<p>ジャンル</p><%= @item.genre %>
<p>税込価格（税抜価格）</p><%= @item.price %>
<p>販売ステータス</p><%= @item.is_active %>

<%= link_to edit_item_path(item.id), class:  "col-xs-12 btn btn-default" do %>