<h1>注文履歴詳細</h1>
<label>注文情報</label>
 <table class="table">
		<tr>
			<th>注文日</th>
			<td><%= @order.created_at %></td>
		</tr>
		<tr>
			<th>配送先</th>
			<td><%= @order.postal_code %>
	 			<%= @order.address %>
	 			<%= @order.name %>
		 	</td>
		</tr>
		<tr>
			<th>支払方法</th>
			<td><%#= @order.payment_method %>
				<% if @order.payment_method == 0 %>
					クレジットカード
				<% else %>
					銀行振り込み
				<% end %>
			</td>
		</tr>
		<tr>
			<th>ステータス</th>
			<td><% if @order.status == 0 %>
					入金待ち
				<% elsif @order.status == 1 %>
					入金確認
				<% elsif @order.status == 2 %>
					製作中
				<% elsif @order.status == 3 %>
					発送済み
                <% elsif @order.status == 4 %>
				<% end %>
			</td>
		</tr>
</table>

<label>注文内容</label>
<table class="table">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>個数</th>
			<th>小計</th>
			<th></th>
	    </tr>
    </thead>
    <tbody>
    	
       <% @order_details.each do |order_detail| %> 

		 	<tr>
		 		<td>
		 			<%= order_detail.item.name %>
		 		</td>
		 		<td><%#= book.title %>
		 			<%= order_detail.item.price %>
		 		</td>
		 		<td>
		 			<%= order_detail.amount %>
		 		</td>
		 	    <td>
		 	    	<%= order_detail.amount * order_detail.item.price %>
		 	    </td>
		 	    <td>
		 	    	 <% @sum += order_detail.item.price * order_detail.amount %>
		 	    </td>
		 	</tr>
	  <% end %>
	  <%= @sum %>円
    </tbody>
 </table>

 <table class="table">
		<tr>
			<th>送料</th>
			<td><%= 800 %></td>
		</tr>
		<tr>
			<th>商品合計</th>
			<td><%= @sum %></td>
		</tr>
		<tr>
			<th>請求金額</th>
			<td><%= @sum + 800 %></td>
		</tr>
</table>
