<h1>注文履歴詳細</h1>
<label>注文情報</label>
 <table>
		<tr>
			<th>注文日</th>
			<td><%= @order.created_at %></td>
		</tr>
		<tr>
			<th>配送先</th>
			<td><%= @order.postal_code %>
	 			<%= @order.address %>
	 			<%= @order.name %>
		 	</td>
		</tr>
		<tr>
			<th>支払方法</th>
			<td><%= @order.payment_method %></td>
		</tr>
		<tr>
			<th>支払方法</th>
			<td><%= @order.status %></td>
		</tr>
</table>

<label>注文内容</label>
<table>
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>個数</th>
			<th>小計</th>
			<th></th>
	    </tr>
    </thead>
    <tbody>
    	
       <% @cart_items.each do |cart_item| %>

		 	<tr>
		 		<td>
		 			<%= cart_item.item.name %>
		 		</td>
		 		<td><%#= book.title %>
		 			<%= cart_item.item.price %>
		 		</td>
		 		<td>
		 			<%= cart_item.cart_item.amount %>
		 		</td>
		 	    <td>
		 	    	<%= cart_item.amount * cart_item.item.price %>
		 	    </td>
		 	    <td>
		 	    	 <% @sum += cart_item.item.price * cart_item.amount %>
		 	    </td>
		 	</tr>
	  <% end %>
	  <%= @sum %>円
    </tbody>
 </table>

 <table>
		<tr>
			<th>送料</th>
			<td><%= 800 %></td>
		</tr>
		<tr>
			<th>商品合計</th>
			<td><%= @sum %></td>
		</tr>
		<tr>
			<th>請求金額</th>
			<td><%= @sum + 800 %></td>
		</tr>
</table>
